$theme-colors: ( "primary":#f2c462, "secondary":#222, "dark":#101010);
$border-radius:0px;
$dropdown-bg:map-get($theme-colors, secondary);
$dropdown-link-color: map-get($theme-colors, primary);
$dropdown-link-hover-color:map-get($theme-colors, primary);
$dropdown-link-hover-bg:map-get($theme-colors, dark);
$dropdown-border-color: map-get($theme-colors, dark);
$table-dark-border-color: map-get($theme-colors, dark);
$input-bg:map-get($theme-colors, dark);
$input-disabled-bg: map-get($theme-colors, secondary);
$input-color: white;
@font-face {
    font-family: 'Copperplate Gothic';
    src: local('Copperplate Gothic Bold'), local('CopperplateGothic-Bold'),
        url('../fonts/CopperplateGothic-Bold.woff2') format('woff2'),
        url('../fonts/CopperplateGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@import "~bootstrap/scss/bootstrap";
body {
    background-image: url('/images/backgroundimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: map-get($theme-colors, dark);
}
.font-cinzel{
    font-family: 'Copperplate Gothic', serif;
}
.btn-grey{
    color:rgba(255,255,255,0.6);
    &:hover{
        color:rgba(255,255,255,0.9);
    }
    &.border-grey{
        border-color: rgba(0,0,0,0.5);
    }
}
.main-title{
    font-family: 'Copperplate Gothic', serif;
    color:map-get($theme-colors, primary)!important;
    
  text-shadow:
  -2px -2px 0 map-get($theme-colors, dark),
   2px -2px 0 map-get($theme-colors, dark),
   -2px 2px 0 map-get($theme-colors, dark),
    2px 2px 0 map-get($theme-colors, dark);
}
.nav-tabs {
    border-bottom: 0px solid map-get($theme-colors, dark) !important;
    .nav-link {
        color: white;
        font-size: 1.6rem;
        background-color: map-get($theme-colors, secondary) !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
        padding-bottom: 2px;
        &:hover,
        &.active {
            border: 1px solid rgba(0, 0, 0, 0) !important;
        }
        &.active {
            background-color: map-get($theme-colors, secondary) !important;
            color: white;
            border-bottom: 5px solid map-get($theme-colors, primary) !important;
        }
    }
}

.card {
    a:hover {
        text-decoration: none;
    }
}

.media {
    &.on-hover {
        border-top: 1px solid map-get($theme-colors, secondary) !important;
        border-left: 1px solid map-get($theme-colors, secondary) !important;
        border-right: 1px solid map-get($theme-colors, secondary) !important;
        &:hover {
            background-color: map-get($theme-colors, dark);
            border: 1px solid map-get($theme-colors, primary) !important;
        }
    }
}

.pagination>li>a {
    margin-left: 2px;
    background-color: map-get($theme-colors, secondary);
    color: map-get($theme-colors, primary);
    border: 1px solid map-get($theme-colors, secondary);
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: map-get($theme-colors, primary);
    background-color: map-get($theme-colors, dark);
    border: 1px solid map-get($theme-colors, dark);
}

.pagination>.disabled>a {
    color: white !important;
    background-color: map-get($theme-colors, secondary) !important;
    border-color: map-get($theme-colors, secondary) !important;
}

.pagination>.active>a {
    color: white;
    background-color: map-get($theme-colors, dark) !important;
    border: solid 1px map-get($theme-colors, primary) !important;
}

.pagination>.active>a:hover {
    background-color: map-get($theme-colors, dark) !important;
    border: solid 1px map-get($theme-colors, primary) !important;
}
#inputDescription{
    .ql-toolbar .ql-picker-item.ql-selected,
    .ql-toolbar .ql-picker-item.ql-selected,
    .ql-toolbar .ql-picker-item:hover,
    .ql-toolbar .ql-picker-item:hover,
    .ql-toolbar .ql-picker-label.ql-active,
    .ql-toolbar .ql-picker-label.ql-active,
    .ql-toolbar .ql-picker-label:hover,
    .ql-toolbar .ql-picker-label:hover,
    .ql-toolbar button.ql-active,
    .ql-toolbar button.ql-active,
    .ql-toolbar button:focus,
    .ql-toolbar button:focus,
    .ql-toolbar button:hover,
    .ql-toolbar button:hover {
        color: map-get($theme-colors, primary) !important;
    }
}
